
<li class="country-item">
    <article class="item">
        <h2 class="country-name">{{name}}</h2>
        <img src={{flag}} alt="Картофель, запеченный в мундире" class="flag" width="300"/>
        <div class="card__content">
            <p class="capital">Capital: {{capital}}</p>
            <p class="population">Population: {{population}}</p>
            <ul class="languages">
                {{#each languages}}
                <li class="language">Languages: {{name}}</li>
                {{/each}}

            </ul>
        </div>
    </article>
</li>