<ul class="list">
    <h2 class="country-name">{{name}}</h2>
    <div class="country-card">
            <div class="card__content">
                <li class="country-parameter capital"><span>Capital:</span>  {{capital}}</li>
                <li class="country-parameter population"><span>Population:</span>  {{population}}</li>
                <li class="country-parameter languages-list"><span>Languages:</span> 
                    <ul class="languages">
                        {{#each languages}}
                        <li class="language"> {{name}}</li>
                        {{/each}}
                    </ul>
                </li>
            </div>
            <img src={{flag}} alt="Картофель, запеченный в мундире" class="flag" width="300"/>
    </div>
</ul>